/* Universal box sizing */
* {
    box-sizing: border-box;
}
/* Set the size of the body */
body {
  width: 600px;
}
/* Style the header */
.header {
    background-color:rgb(111, 163, 206);
    text-align: center;
    padding: 20px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(63, 78, 145);
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 300px;
    padding: 15px;
    background-color: rgb(235, 235, 224);
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: yellow;
    text-align: center;
    padding: 10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}